<!DOCTYPE html>


<head>
	
	<link rel="stylesheet" type="text/css" href="./css/dashboard.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<<<<<<< HEAD
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
=======
>>>>>>> origin/dev

</head>

<body>

	<div class="navSectionContainer">
	
		<div class="logoContainer"> 

			<img src="./img/logo@2x.png">
			<span>JIRA-TREE</span>


		</div>

		<div class="logoContainerOne">

			<span>Arjun Loomba</span> 
			<div class="img" style="background-image: url('./img/signup.png');" ></div>
			


		</div>

	</div>
    </body>
    
    
	<div class="contentContainer"> 

		<label class="ledgerBlockLabel">BACKLOG</label>
        
		<div class="ledgerBlock">
			<div class="hidderDiv">

			<table class="mainTable">
                
                <!-- add a new task button -->
                <a href="/createTask">
                    <span class="material-symbols-outlined icon">
                        add
                    </span>
                </a> 

				<!-- from tr to tr used to illustrate implementation of loop -->
                <% for(let task of tasks) { %>
					<tr>
						<td class="dateInfo"><%=date.format(task.datetime, 'MMM DD YYYY')%></td>
						<td class="otherInfo"><%=task.task_name%></td>
						<td class="otherInfo"><%=task.status%></td>
						<td class="otherInfo"> <a href="/task/<%=task.task_uid%>"> View </a></td>
					</tr>
                    <% } %>
                    </tr>
			</table>

		</div>
        
            
        </div>
		</div>		
		</div>
	</div>	

    <div class="SprintContainer">
        <div class="ledgerBlockLabel"> Sprints </div>
    
    <div class="sprintParent">
        <div class="sprintFlex"></div>
        <div class="sprintFlex"></div>
        <div class="sprintFlex"></div>
        <div class="sprintFlex"></div>
        </div>
        
    </div>

    </div>

    


  
      


</body>

</html>
