<!-- <!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">


</head>

<body>

	<div class="navSectionContainer">
	
		<div class="logoContainer"> 
			<img src="./img/logo@2x.png">
		<span> <a href = "/">JIRA-TREE</a> </span>

			


		</div>

		<div class="logoContainerOne">

			<span>Arjun Loomba</span> 
			<div class="img" style="background-image: url('./img/signup.png');"></div>
			


		</div>

	</div>

</body>

</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Dashboard | By Code Info</title>
  <link rel="stylesheet" href="../css/dashboard.css" />
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>
<body>
  <header class="header">
    <div class="logo">
		<div class="LogoContiner">
        <img src="./img/logo@2x.png" width="30" height="30">
		<span> <a href = "/">JIRA-TREE</a> </span>
		</div>
      <center>
      <div class="search_box">
        <input type="text" placeholder="Search Tasks">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </div>
	</center>

    </div>

    <div class="header-icons">
      <i class="fas fa-bell"></i>
      <div class="account">
        <img src="../img/signup.png" alt="">
        <h4>Arjun Raj Loomba</h4>
      </div>
    </div>
  </header>
  <div class="container">
    <nav>
      <div class="side_navbar">
        <span>Main Menu</span>
        <a href="#" class="active">Dashboard</a>
        <a href="#">Profile</a>
        <a href="#">Groups</a>
        <a href="#">Application</a>
        <a href="#">Sprints</a>
        

        <div class="links">
          
        </div>
      </div>
    </nav>

    <div class="main-body">
      <h2>Dashboard</h2>
      <div class="promo_card">
        <h1>Welcome to JiraTree</h1>
        <span>Add a task or check your Sprints</span>
		<center>
        <button>Add Sprints</button>
		</center>
      </div>

      

     
      </div>
    </div>

  </div>
</body>
</html>
