<!DOCTYPE html>


<head>
	
	<link rel="stylesheet" type="text/css" href="./css/dashboard.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">


</head>

<body>

	<div class="navSectionContainer">
	
		<div class="logoContainer"> 

			<img src="./img/logo@2x.png">
			<span>JIRA-TREE</span>


		</div>

		<div class="logoContainerOne">

			<span>Arjun Loomba</span> 
			<div class="img" style="background-image: url('./img/signup.png');" ></div>
			


		</div>

	</div>
    </body>
    
    
	<div class="contentContainer"> 

		<label class="ledgerBlockLabel">BACKLOG</label>

		<div class="ledgerBlock">

			<div class="hidderDiv">

			<table class="mainTable">

				<!-- from tr to tr used to illustrate implementation of loop -->
				
				

					<tr>
						
						<td class="dateInfo">29th August</td>
						<td class="otherInfo">2020</td>
						<td class="otherInfo">2200 Units</td>
						<td class="otherInfo">400 Kilograms</td>



					</tr>

					<tr>
						
						<td class="dateInfo">29th August</td>
						<td class="otherInfo">2020</td>
						<td class="otherInfo">2200 Units</td>
						<td class="otherInfo">400 Kilograms</td>



					</tr>

					<tr>
						
						<td class="dateInfo">29th August</td>
						<td class="otherInfo">2020</td>
						<td class="otherInfo">2200 Units</td>
						<td class="otherInfo">400 Kilograms</td>



					</tr>
					
					
					<tr>
						
						<td class="dateInfo">29th August</td>
						<td class="otherInfo">2020</td>
						<td class="otherInfo">2200 Units</td>
						<td class="otherInfo">400 Kilograms</td>



					</tr>
					
					
					<tr>
						
						<td class="dateInfo">29th August</td>
						<td class="otherInfo">2020</td>
						<td class="otherInfo">2200 Units</td>
						<td class="otherInfo">400 Kilograms</td>



					</tr>
					
					
					<tr>
						
						<td class="dateInfo">29th August</td>
						<td class="otherInfo">2020</td>
						<td class="otherInfo">2200 Units</td>
						<td class="otherInfo">400 Kilograms</td>



					</tr>

										<tr>
						
						<td class="dateInfo">29th August</td>
						<td class="otherInfo">2020</td>
						<td class="otherInfo">2200 Units</td>
						<td class="otherInfo">400 Kilograms</td>



					</tr>
					
					
										<tr>
						
						<td class="dateInfo">29th August</td>
						<td class="otherInfo">2020</td>
						<td class="otherInfo">2200 Units</td>
						<td class="otherInfo">400 Kilograms</td>



					</tr>
					
						

			</table>

		</div>
        
            
        </div>>
		</div>		
		</div>
	</div>	

    <div class="SprintContainer">
        <div class="ledgerBlockLabel"> Sprints </div>
    </div>
    <div class="ledgerBlock"></div>
    
    


    <!-- </div> -->
      


</body>

</html>