

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="../css/profile.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>

        <div class="navSectionContainer">
		<div class="logoContainer"> 
		<img src="./img/logo@2x.png">
		<span> <a href = "/">JIRA-TREE</a> </span>
		</div>

	</div>

    <div class="main">
        <h2>Profile</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Arjun Raj Loomba</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>arjun@loomba.com</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>Los Angeles, California</td>
                        </tr>
                        <tr>
                            <td>Task Assigned</td>
                            <td>:</td>
                            <td>0001, 0002, 0004</td>
                        </tr>
                        <tr>
                            <td>Job</td>
                            <td>:</td>
                            <td>Web Developer</td>
                        </tr>
                        <tr>
                            <td>Skill</td>
                            <td>:</td>
                            <td>PHP, HTML, CSS, Java</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

        
        
    </div>
    <div class="backgroundImage">
			
			<img src="./img/backgroundImage@2x.png">


		</div>
    <!-- End -->
</body>
</html>