<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./css/login.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <style>
    </style>

</head>

<body>

	<div class="navSectionContainer">
		<div class="logoContainer"> 
		<img src="./img/logo@2x.png">
		<span> <a href = "/">JIRA-TREE</a> </span>
		</div>

	</div>

	<div class="contentContainer"> 
		<div class="mainContainer">
			<p class="logIn">Register</p>
			<p class="mainText">Register as a New User</p>
		</div>
        
		<div class="fieldHolder">
				<form method = "POST" class="form" action = '/register'>
					<input type="text" name="name" placeholder="Name" class="fields"><br><br>
  					<input type="text" name="email" placeholder="E-mail" class="fields"><br>
  					<input type="password" name="password" placeholder="Password" class="fields"><br>
					<br>
					<button class="submit">submit</button>
  					<!-- <input type="submit" value="Log In" class="submit"> -->
				</form> 
		</div>
		<div class="addSettings">
			<p class="forgotPassword">Forgot Password?</p>
			<p ><a class="signUp" href = "/login"> LogIn </a> </p>
		</div>
		<div class="backgroundImage">
			<img src="./img/backgroundImage@2x.png">
		</div>
	</div>
</body>
</html>